<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing Service</h1>

  <%= render "form", admin_tour: @admin_tour %>

  <%= link_to "Show this tour", [:admin, @admin_tour], class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to tours", admin_tours_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
